*{
    margin: 0;
    border: none;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.container1{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px 0;
    font-weight: 500;
    font-size: 16px;
}

.container2{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px 0;
    font-weight: 600;
    font-size: 24px;
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;
    padding: 108px 0;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(Jordan1.png);
    filter: brightness(50%);
}

h1{
    margin-bottom: 30px;
}

h2{
    line-height: 196%;
}

.container-img-text{
    width: 75.5%;
    font-weight: 700;
    font-size: 24px;
}
 .container-img-text2{
    width: 75.5%;
 }

.container3-text1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 12px;
}

.container3-text2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 51px;
}

.container4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 80%;
}

.image1{
    background: #EBE9EA;
    padding: 50px 6.5px;
    margin-right: 10px;
}

.image2{
    background: #EBE9EA;
    padding: 50px 6.5px;
    margin-right: 5px;
}

.image3{
    background: #EBE9EA;
    padding: 50px 6.5px;
    margin-left: 5px;
}

.image4{
    background: #EBE9EA;
    padding: 50px 6.5px;
    margin-left: 10px;
}

.container5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 77px;
}

.image5{
    background: #EBE9EA;
    padding: 50px 6.5px;
    margin-right: 10px;
}

.image6{
    background: #EBE9EA;
    padding: 50px 6.5px;
    margin-right: 5px;
}

.image7{
    background: #EBE9EA;
    padding: 50px 6.5px;
    margin-left: 5px;
}

.image8{
    background: #EBE9EA;
    padding: 50px 6.5px;
    margin-left: 10px;
}
 .footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px 0;
 }