*{
    margin: 0;
    border: none;
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.discount-container{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px 0;
    font-weight: 500;
    font-size: 16px;
}

.brand-container{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px 0;
    font-weight: 600;
    font-size: 24px;
}

.hero-section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: white;
    padding: 108px 0;
    background-image: url(./assets/Jordan1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.hero-section-title{
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
    width: 85%;
}
 .hero-section-subtitle{
    line-height: 196%;
    font-size: 18px;
    font-weight: 500;
    width: 85%;
}

.features-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 12px;
}

.features-subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 51px;
    font-size: 18px;
    font-weight: 500;
}

.first-four-shoes-layer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 85%;
}

.shoe-container{
    background: #EBE9EA;
    padding: 60px 6.5px;
}

.shoe{
    height: 180px;
}

.second-four-shoes-layer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 77px;
    width: 85%;
}

 .footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 18px 0;
 }